---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=zoo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"28091c81a56f40ad57a905356740db9a"
      X-Total-Count:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":875,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.1449698,37.4432868],"description":"A
        children''s museum and zoo. Offers science classes, after-school programs
        and summer camps.","kind":"Museums","latitude":37.4432868,"longitude":-122.1449698,"name":"Palo
        Alto Junior Museum and Zoo","short_desc":"A children''s museum and zoo.","slug":"palo-alto-junior-museum-and-zoo","updated_at":"2014-12-04T11:08:53.742-08:00","website":"http://www.cityofpaloalto.org/jmz","url":"https://api-staging.smc-connect.org/locations/palo-alto-junior-museum-and-zoo","address":{"id":703,"address_1":"1451
        Middlefield Road","address_2":null,"city":"Palo Alto","state_province":"CA","postal_code":"94301"},"organization":{"id":875,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Palo
        Alto Junior Museum and Zoo","website":null,"slug":"palo-alto-junior-museum-and-zoo","url":"https://api-staging.smc-connect.org/organizations/palo-alto-junior-museum-and-zoo","locations_url":"https://api-staging.smc-connect.org/organizations/palo-alto-junior-museum-and-zoo/locations"},"phones":[{"id":1159,"department":null,"extension":null,"number":"650
        329-2111","number_type":"voice","vanity_number":null},{"id":3036,"department":null,"extension":null,"number":"650
        473-1965","number_type":"fax","vanity_number":null}]}]'
  recorded_at: Fri, 20 Jan 2023 02:37:24 GMT
recorded_with: VCR 6.1.0
