---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/locations/redwood-city-free-medical-clinic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"921d6913ba350a30b70f1d41450f2d84"
      Last-Modified:
      - Wed, 26 Nov 2014 01:22:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1389,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.207057,37.468678],"description":"Primary
        and specialty medical and dental services to uninsured, low-income residents.
        Who is Treated? Patients of our clinics are the working poor. They tend to
        earn just enough income to be ineligible for Medi-Cal coverage, yet do not
        receive health insurance through their employers and cannot afford to pay
        for “out-of-pocket” health insurance. Often these residents are forced to
        seek treatment at local emergency rooms and become saddled with medical bills
        that they are unable to pay. Samaritan House’s Free Medical Clinics fill this
        gap in healthcare access for the uninsured and save emergency room resources
        for emergencies. Professional Medical \u0026 Dental Volunteers Thanks to its
        innovative volunteer-based model of service, Samaritan House’s clinics are
        able to treat such a large number of patients with a very small paid staff.
        Almost all of the medical and dental doctors and assistants are volunteering
        their time free of charge. These individuals, either retired or currently
        practicing medicine and dentistry, want to serve their community in their
        limited spare time.","kind":"Human Services","latitude":37.468678,"longitude":-122.207057,"name":"Redwood
        City Free Medical Clinic","short_desc":"Provides free medical care to those
        in need.","slug":"redwood-city-free-medical-clinic","updated_at":"2014-11-25T17:22:17.626-08:00","website":"http://www.samaritanhousesanmateo.org","url":"https://api-staging.smc-connect.org/locations/redwood-city-free-medical-clinic","accessibility":["Disabled
        Restroom","Wheelchair"],"email":"info@samaritanhousesanmateo.org","hours":"Monday-Friday,
        9-12, 2-5","languages":["Spanish"],"transportation":"SAMTRANS stops within
        2 blocks.","address":{"id":1129,"address_1":"114 Fifth Avenue","address_2":null,"city":"Redwood
        City","state_province":"CA","postal_code":"94063"},"organization":{"id":498,"alternate_name":null,"name":"Samaritan
        House","slug":"samaritan-house","url":"https://api-staging.smc-connect.org/organizations/samaritan-house"},"phones":[{"id":1903,"department":null,"extension":null,"number":"650
        839-1447","number_type":"voice","vanity_number":null},{"id":3364,"department":null,"extension":null,"number":"650
        839-1457","number_type":"fax","vanity_number":null}],"contacts":[{"id":1620,"department":null,"email":null,"name":"Sharon
        Petersen","title":"Operations Director","phones":[]}],"mail_address":{"id":1386,"attention":"Redwood
        City Free Medical Clinic","address_1":"114 Fifth Avenue","address_2":null,"city":"Redwood
        City","state_province":"CA","postal_code":"94063"},"regular_schedules":[],"holiday_schedules":[],"services":[{"id":1389,"accepted_payments":[],"alternate_name":null,"application_process":"Call
        for screening appointment. Medical visits are by appointment only.","audience":null,"description":"Provides
        free medical care to those in need. Offers basic medical exams for adults
        and tuberculosis screening. Assists the individual to access other services
        in the community. By appointment only, Project Smile provides a free dental
        exam, dental cleaning and oral hygiene instruction for children, age 3-12,
        of Samaritan House clients.","eligibility":"Low-income person without access
        to health care","email":null,"fees":"None.","funding_sources":["Donations","Grants"],"interpretation_services":null,"keywords":["HEALTH
        SERVICES","Outpatient Care","Community Clinics","Free Medical Care-Redwood
        City","Free Dental Exam"],"languages":[],"name":null,"required_documents":[],"service_areas":["Atherton","East
        Palo Alto","Menlo Park","Redwood City","San Carlos"],"status":"active","website":null,"wait_time":"Varies.","updated_at":"2014-05-24T14:07:51.877-07:00","categories":[{"id":1,"depth":0,"taxonomy_id":"101","name":"Emergency","parent_id":null},{"id":78,"depth":0,"taxonomy_id":"106","name":"Health","parent_id":null},{"id":86,"depth":1,"taxonomy_id":"106-02","name":"Dental
        Care","parent_id":78},{"id":109,"depth":1,"taxonomy_id":"106-06","name":"Medical
        Care","parent_id":78}],"contacts":[],"phones":[],"regular_schedules":[],"holiday_schedules":[]}]}'
  recorded_at: Thu, 19 Jan 2023 21:42:17 GMT
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?keyword=ymca&kind=Human%20Services&service_area=smc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"ef2e4b14b8f6142d6bdb3f84f9c4ea28"
      X-Total-Count:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1687,"active":true,"admin_emails":[],"alternate_name":"Youth
        Service Bureau of San Mateo","coordinates":[-122.3021838,37.5591284],"description":"The
        Youth Service Bureau in San Mateo offers outpatient mental health counseling
        to youth, families, and couples addressing parenting and co-parenting issues.
        We help people address a variety of i[...]
