---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?kind=Parks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"ad553eced5cfdc537a8c7c6397900a12"
      X-Total-Count:
      - '29'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1541,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.2307333,37.4889287],"description":"San
        Mateo County operates 17 parks, 3 regional trails, numerous other county and
        local trails and a marina encompassing almost 16,000 acres. Facilities vary
        from one area to another. Call the park ranger in each area or the administrative
        number for further information. Coyote Point Recreation Area - 1701 Coyote
        Point Drive, San Mateo (650-573-2592): Picnic sites, playgrounds, marina,
        bay swimming and fishing, and museum (650-342-7755). Coyote Poi[...]
