---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&service_area=smc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"685a5fba967c605d0a58afca86a1a5a3"
      Link:
      - <https://api-staging.smc-connect.org/search?page=50&service_area=smc>; rel="last",
        <https://api-staging.smc-connect.org/search?page=2&service_area=smc>; rel="next"
      X-Total-Count:
      - '1492'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.3486066,37.5909749],"description":"Offers
        information about the county''s attractions and brochures and maps of cities
        in the county. Assists groups and individuals in booking sleeping rooms and
        meetings.","kind":"Other","latitude":37.5909749,"longitude":-122.3486066,"name":"San
        Mateo County/Silicon Valley Convention and Visitors Bureau","short_desc":"Offers
        information about the county''s attractions and brochures and maps of cities
        in the county.","slug":"san-mateo-county-silicon-valley-convention-and-visitors-bureau","updated_at":"2014-12-04T11:07:06.927-08:00","website":"http://www.smccvb.com","url":"https://api-staging.smc-connect.org/locations/san-mateo-county-silicon-valley-convention-and-visitors-bureau","address":{"id":1,"address_1":"111
        Anza Blvd., Suite 410","address_2":null,"city":"Burlingame","state_province":"CA","postal_code":"94010"},"organization":{"id":1,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"San
        Mateo County/Silicon Valley Convention and Visitors Bureau","website":null,"slug":"san-mateo-county-silicon-valley-convention-and-visitors-bureau","url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-silicon-valley-convention-and-visitors-bureau","locations_url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-silicon-valley-convention-and-visitors-bureau/locations"},"phones":[{"id":1,"department":null,"extension":null,"number":"800
        288-4748","number_type":"voice","vanity_number":null},{"id":2,"department":null,"extension":null,"number":"650
        348-7600","number_type":"voice","vanity_number":null}]},{"id":2,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.2584729,37.5210911],"description":"Provides
        legal advice and counsel on civil matters to low income individuals, families
        and groups. Legal Aid’s mission is to help disadvantaged and vulnerable persons
        improve their lives through equal access to justice. Legal Aid [...]
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=&location=&org_name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"05fd1194a4355ce6e13292992206a722"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=&org_name=&page=60>; rel="last",
        <https://api-staging.smc-connect.org/search?keyword=[...]
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=&location=&org_name=&service_area=smc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"1516ec6d7a18967ea94300bf65510fa2"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=&org_name=&page=50&service_area=smc>;
        rel="last", <https://api-stagi[...]
