---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=CalFresh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"d5a2b7bcf6fb4cb92666c0c16d1e63ab"
      X-Total-Count:
      - '10'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1250,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.3926748,37.7901873],"description":"Provides
        the 211 regional information and referral service to anyone needing information
        about nonprofit health and human services in Marin, Napa, San Francisco San
        Mateo, Santa Cruz and Solano counties. 211 is an easy to remember three digit
        telephone number that is free, confidential, multi-lingual and available 24
        hours a day. Following an assessment, referrals are given and follow-up calls
        are made to determine if the problem was resolved. Inf[...]
