%article#feedback-box
  .close-button
  %div
    %h1
      Want to get in touch?
    %p
      = link_to t('views.feedback.issue_link'), t('views.feedback.issue_link_url'), target: '_blank', rel: 'noopener'
      = t('views.feedback.submit_comment_label')
