---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&kind%5B%5D=Arts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"25e57bab91afe80c1a9fb08e9f349182"
      Link:
      - <https://api-staging.smc-connect.org/search?page=2>; rel="last", <https://api-staging.smc-connect.org/search?page=2>;
        rel="next"
      X-Total-Count:
      - '35'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":694,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-121.8670898,37.337677],"description":"Provides
        quality affordable theatre and educates young people in theatre experience.
        All are invited to participate. Call or write for information about show schedule
        and classes. Submission of new scripts welcome.","kind":"Arts","latitude":37.337677,"longitude":-121.8670898,"name":"Northside
        Theatre Company","short_desc":null,"slug":"northside-theatre-company","updated_at":"2014-11-25T17:15:20.545-08:00","website":"http://www.northsidetheatre.com","url":"https://api-staging.smc-connect.org/locations/northside-theatre-company","address":{"id":583,"address_1":"848
        East William Street","address_2":null,"city":"San Jose","state_province":"CA","postal_code":"95116"},"organization":{"id":694,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Northside
        Theatre Company","website":null,"slug":"northside-theatre-company","url":"https://api-staging.smc-connect.org/organizations/northside-theatre-company","locations_url":"https://api-staging.smc-connect.org/organizations/northside-theatre-company/locations"},"phones":[{"id":939,"department":null,"extension":null,"number":"408
        288-7820","number_type":"voice","vanity_number":null}]},{"id":702,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-121.9555385,37.3559951],"description":"Produces
        four plays a year in an effort to bring live theatre to the community and
        involve the community in the production. Production staff and actors are nonprofessionals
        chosen from the community by interview or audition. The board of directors
        is voluntary and must be at least age 18 with a desire to help in the administration
      [...]
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=&location=&org_name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"05fd1194a4355ce6e13292992206a722"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=&org_name=&page=60>; rel="last",
        <https://api-staging.smc-connect.org/search?keyword=[...]
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=&kind%5B%5D=Entertainment&location=&org_name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"59f8cdfb28c12c2a28bda157ca3e6df0"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=&org_name=&page=2>; rel="last",
        <https://api-staging.smc-con[...]
